<<<<<<< HEAD
table td{
    border: 1px dashed skyblue;
=======
body{
    background-color: skyblue;
    color: pink;
    font-size: 12px;
    margin: auto;
    padding: 0;
>>>>>>> 422ba5d529e922ab17969b64495bd7b570c2fbc4
}